{% extends 'base.html' %}

{% block content %}
<h1 class="justify-content-center">
    {{ listing.card.name }}
</h1>
<h5>Card Listing</h5>
<br>

<div class="card-listing">
    <div class="card-container justify-content-center animate__animated animate__zoomIn animate__faster">
        {% comment %} big column 1 {% endcomment %}
        <div class="col">
            <div class="order-md-first bg-white">
                <img class="img-fluid mx-auto d-block" width="300px" alt="Responsive image"
                    src="{{ listing.card.img_uri }}">
            </div>
        </div>
    </div>
    <div class="card-details-container">
        <div>
            {% comment %} top row cardlistings {% endcomment %}
            <div class="card text-white bg-dark animate__animated animate__bounceIn" style="width: 60%">
                <div class="card-header">
                    <h3>Card Listing details</h3>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Price: ${{ listing.price }}
                        <li>Seller: {{ listing.seller.user|title }} ({{ listing.seller.user.email }})
                    </ul>
                </div>
            </div>
            <br>

            {% comment %} bottom row details {% endcomment %}
            <div class="card text-white bg-dark card-info animate__animated animate__bounceIn" style="width: 60%">
                <div class="card-header">
                    <h3>Card Information</h3>
                </div>
                <div class="card-body">
                    {% if listing.card.flavor_text or isting.card.rarity or isting.card.card_set%}
                        <div>
                            {% comment %} card details {% endcomment %}
                            {% if isting.card.flavor_text %}
                                <p><strong>Flavour text: </strong>{{ isting.card.flavor_text }}</p>
                            {% else %}
                                <p><strong>Flavour text: </strong>No flavour text available for this card.</p>
                            {% endif %}
                        </div>
                        <div>
                            {% if isting.card.rarity %}
                                <p><strong>Rarity: </strong>{{ isting.card.rarity }}</p>
                            {% else %}
                                <p><strong>Rarity: </strong>No rarity available for this card.</p>
                            {% endif %}
                        </div>
                        <div>
                            {% if isting.card.card_set %}
                                <p><strong>Set: </strong>{{ isting.card.card_set }}</p>
                            {% else %}
                                <p><strong>Set: </strong>No set available for this card.</p>
                            {% endif %}
                        </div>
                    {% else %}
                        <div>
                            <p>No additional information available about this card</p>
                        </div>
                    {% endif%}
                    {% comment %} Direct to this cardlisting's individual card page {% endcomment %}
                    <div>
                        <a href="/cards/card/{{ listing.card.id }}">Find out more about this Card</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% comment %} This is a single view of a card that is for sale (listed) {% endcomment %}

{% comment %} {% block content %}
<h1>{{ listing.card.name }}</h1>

<div>
    <img width="300px" src={{ listing.card.img_uri }} alt="MTG Card picture">
</div>

<div>
    <ul>
        <li>Seller price: ${{ listing.price }}
        <li>Contact: {{ listing.seller.user|title }}
            <ul>
                <li>{{ listing.seller.user.email }}
            </ul>
        <li>Set: {{ listing.card.cardset.set_name}}
        <li>Rarity: {{ listing.card.rarity }}
    </ul>
</div>
{% endblock %} {% endcomment %}