{% extends "base.html" %}
{% block content %}
<h1 class="justify-content-center">
    {{ card.name }}
</h1>
<div class="row">
    {% comment %} big column 1 {% endcomment %}
    <div class="col">
        <div class="order-md-first bg-white">
            <img class="img-fluid mx-auto d-block" width="300px" alt="Responsive image"
                src="https://i.redd.it/qnnotlcehu731.jpg">
        </div>
    </div>


    {% comment %} big column 2 {% endcomment %}
    <div class="col">

        {% comment %} top row details {% endcomment %}
        <div class="container p-5 my-5 bg-dark text-white">
            <div class="row">
                <h2>Card Information</h2>
            </div>
            <div class="row">
                {% comment %} col 2 description row {% endcomment %}
                <div class="row">
                    <div class="col-2">
                        Description:
                    </div>
                    <div class="col-4">
                        {{ card.flavor_text }}...
                    </div>
                </div>

            </div>
        </div>

        {% comment %} bottom row cardlistings {% endcomment %}
        <div class="container p-5 my-5 bg-dark text-white">
            <div class="row">
                <h2>Cardlistings</h2>
            </div>
            <div class="row">
                <ul>
                    <li>Listing 1</li>
                    <li>Listing 2</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% comment %}
<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{ card.img_id }}">
            </div>
            {% comment %} {% comment %} <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h4">{{ name }}</h1>
                <p><span class="lead">{{ Cardlisting.seller }}</span> Seller </p>
                <p>{{ description }}...</p>
                <div class="border">
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                <label for="select">Qty</label>
                                <select id="select">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    {% comment %}
                                </select>

                            </div>
                            <div class="col-6 text-end"><button type="button" class="btn btn-secondary btn-sm">Add to
                                    basket</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>{% endcomment %}
{% endblock %}

{%comment%}
{% extends 'base.html' %}
This is a single view of a card in the database

{% block content %}
<h1>This is a single card view.</h1>
<p>
    As a base, this page should have:
<ul>
    <li>Basic details about the card</li>
    <li>An option to view more details about the card</li>
    <li>A button/list that directs to card listings of the card</li>
    <li>A button that allows the creation of a new card listing</li>
</ul>
</p>
{% endblock %}
{%endcomment%}