{% extends 'base.html' %}
{% comment %} This the home page{% endcomment %}

{% block content %}
<h1>This is Home</h1>

{% comment %} This displays a list of cards with links to the card view {% endcomment %}
<div class="row justify-content-center">
    <h2>List of Cards</h2>
</div>
<br>
    <div class="cards-list-container justify-content-center" style="display: grid">
        <div class="row" style="width: 60vw;">
        {% for card in cards %}
            {% if forloop.counter|divisibleby:"3" %}
                <div class="col-sm animate__animated animate__zoomIn animate__faster">
                    <a class="card-link-list" href='/cards/card/{{ card.id }}'>
                        <span class="card-title-list mx-auto">{{ card.name }}</span>
                        <img class="img-fluid mx-auto d-block card-img-list" src="{{ card.img_uri }}">
                    </a>
                </div>
            </div>
            <br>
            {% if not forloop.last %}
                <div class="row" style="width: 60vw;">
            {% endif %}
            {% else %}
                <div class="col-sm animate__animated animate__zoomIn animate__faster">
                    <a class="card-link-list" href='/cards/card/{{ card.id }}'>
                        <span class="mx-auto card-title-list">{{ card.name }}</span>
                        <img class="img-fluid mx-auto d-block card-img-list" src="{{ card.img_uri }}">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}


<p>
    As a base, this page should have:
    <ul>
        <li>2 categories: cards and card listings</li>
        <ul>
            <li>Cards: images should be displayed, and if the user clicks on the card then they go to the card view</li>
            <li>Cards Listings: images should be displayed, and if the user clicks on the card then they go to the card view</li>
        </ul>
        <li>Search bar (perhaps included in the navigation bar)</li>
        <li>Filtering capabilities</li>
        <li>Profile edit button (perhaps included in the navigation bar)</li>
        <li>Log in/out and register buttons (perhaps included in the navigation bar)</li>
    </ul>
    </p>
