{% extends 'base.html' %}
{% comment %} List a single new card {% endcomment %}

{% block content %}

<h1>{{ card.name }}</h1>

<div class="card-listing">
    <div class="card-container justify-content-center animate__animated animate__zoomIn animate__faster">
        <div class="col">
            <div class="order-md-first bg-white">
                <img class="img-fluid mx-auto d-block" width="300px" alt="Responsive image"
                    src="{{ card.img_uri }}">
            </div>
        </div>
    </div>
</div>

<div>
    Based on market data, the value of this card is determined to be around ${{ suggest_price }}.
</div>
<div>
  <form class="form-inline my-2 my-lg-0 ml-auto" method="POST" action="/cards/cardlisting/">
    {% csrf_token %}
    $<input type="number" min="1" step="any" name="new_listing_price" />
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Submit</button>
  </form>
</div>

{% endblock %}

<h1>Here is where the user chooses a new card to sell</h1>

<p>
This is where the user should be directed to after they have clicked the button on the card saying "create new card listing"
</p>

<p>
As a base, this page should have:
<ul>
    <li>Allow the user to enter/select the name of the card</li>
    <li>Allow the user to enter the price at which they wish to sell the card</li>
</ul>

After the user has selected the name of the card, the additional information should be extracted from the database entry of that card (if it exists)base.html
If the card does not exist, then the user may not add a card listing for it.
</p>