{% extends 'base.html' %}

{% block content %}
<h1>My cart</h1>
{% if listings %}
<div class="cards-list-container justify-content-center" style="display: grid">
  <div class="row" style="width: 90vw;">
    {% for listing in listings %}
    {% if forloop.counter|divisibleby:"4" %}
    <div class="col-sm animate__animated animate__zoomIn animate__faster">
      <a class="card-link-list" href='/cards/cardlisting/{{ listing.id }}'>
        <span class="card-title-list mx-auto">{{ listing.card.name }} @ ${{ listing.price }} </span>
        <img class="img-fluid mx-auto d-block card-img-list" src="{{ listing.card.img_uri }}">
      </a>
    </div>
  </div>
  <br>
  {% if not forloop.last %}
  <div class="row" style="width: 90vw;">
    {% endif %}
    {% else %}
    <div class="col-sm animate__animated animate__zoomIn animate__faster">
      <a class="card-link-list" href='/cards/cardlisting/{{ listing.id }}'>
        <span class="mx-auto card-title-list">{{ listing.card.name }} @ ${{ listing.price }} </span>
        <img class="img-fluid mx-auto d-block card-img-list" src="{{ listing.card.img_uri }}">
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

{% else %}
<div>
  <h3>Seems like you have nothing in your cart yet... Let's do something about that ;)</h3>
</div>
{% endif %}

{% endblock %}