{% extends 'base.html' %}
{% block content %}

<center>
    {% if searched %}

    <h1>You searched for "{{ searched }}" </h1>
    <br>
    <div class="cards-list-container justify-content-center" style="display: grid">
        <div class="row" style="width: 90vw;">
            {% for card in cards %}
            {% if forloop.counter|divisibleby:"4" %}
            <div class="col-sm animate__animated animate__zoomIn animate__faster">
                <a class="card-link-list" href='/cards/card/{{ card.id }}'>
                    <span class="card-title-list mx-auto">{{ card.name }}</span>
                    <img class="img-fluid mx-auto d-block card-img-list" src="{{ card.img_uri }}">
                </a>
            </div>
        </div>
        <br>
        {% if not forloop.last %}
        <div class="row" style="width: 90vw;">
            {% endif %}
            {% else %}
            <div class="col-sm animate__animated animate__zoomIn animate__faster">
                <a class="card-link-list" href='/cards/card/{{ card.id }}'>
                    <span class="mx-auto card-title-list">{{ card.name }}</span>
                    <img class="img-fluid mx-auto d-block card-img-list" src="{{ card.img_uri }}">
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% else %}

        <h1> Heya! You are forgetting something... </h1>

        {% endif %}
</center>
{% endblock %}