{% extends 'base.html' %}
{% comment %} This the home page{% endcomment %}

{% block content %}

{% comment %} This displays a list of cards with links to the card view {% endcomment %}
<br>
<form class="form-inline justify-content-center" method="POST" action="/home_searched/">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Search Card..." aria-label="Search" name="searched">
    <button class="btn btn-secondary" type="submit">Search</button>
  </form>
<br>
<div class="cards-list-container justify-content-center" style="display: grid">
  <div class="row" style="width: 90vw;">
    {% for card in cards %}
    {% if forloop.counter|divisibleby:"4" %}
    <div class="col-sm animate__animated animate__zoomIn animate__faster">
      <a class="card-link-list" href='/cards/card/{{ card.id }}'>
        <span class="card-title-list mx-auto">{{ card.name }}</span>
        <img class="img-fluid mx-auto d-block card-img-list" src="{{ card.img_uri }}">
      </a>
    </div>
  </div>
  <br>
  {% if not forloop.last %}
  <div class="row" style="width: 90vw;">
    {% endif %}
    {% else %}
    <div class="col-sm animate__animated animate__zoomIn animate__faster">
      <a class="card-link-list" href='/cards/card/{{ card.id }}'>
        <span class="mx-auto card-title-list">{{ card.name }}</span>
        <img class="img-fluid mx-auto d-block card-img-list" src="{{ card.img_uri }}">
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endblock %}