{% extends 'base.html' %}

{% block content %}

<title>My profile</title>

<div class="row my-3 p-3">
    <h1>Your Profile </h1>
</div>

<div class="form-content">
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} <div class="form-row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="small mb-1">Username:</label>
                        {{ user_form.username }}
                    <label class="small mb-1">Email:</label>
                        {{ user_form.email }}
                </div> {% endcomment %}
                <div class="form-group">
                    <label class="small mb-1">Change Username:</label>
                    {{ profile_form.username }}
                </div>
                <label class="small mb-1">Email:</label>
                    {{ profile_form.email }}
                <a href="/change-password/"> Change Password</a>
            </div>
        </div>
        <br><br>
        <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
        <button type="reset" class="btn btn-dark btn-lg">Reset</button>
    </form>
</div>

<script>

		var form_fields = document.getElementsByTagName('input')
		form_fields[2].value="{{ request.user.username }}";
        form_fields[3].value="{{ request.user.email }}";
		{% comment %} form_fields[3].placeholder="{{ request.user.email }}"; {% endcomment %}


		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
</script>
{% endblock %}