<!DOCTYPE html>
<html lang="en">

<head>
  <title>TCG Player</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<form method="POST"> {% csrf_token %}
  {% comment %} render form as paragraph text {% endcomment %}
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Register</div>
        <div class="panel-body">
          <div class="form-group clearfix">
            {{ form.username.label }}
            {{ form.username }}
          </div>
          <div class="form-group clearfix">
            {{ form.email.label }}
            {{ form.email }}
          </div>
          <div class="form-group clearfix">
            {{ form.password1.label }}
            {{ form.password1 }}
          </div>
          <div class="form-group clearfix">
            {{ form.password2.label }}
            {{ form.password2 }}
          </div>
          {% comment %} {{ form.as_p }} {% endcomment %}
          <div class="col-md-6 col-md-offset-4">
            <input name="register" type="submit" value="Register" class="btn btn-success" /> &nbsp;
            <a href="/login/">or Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>